.landing_page{
    display: flex;
    flex-direction: column;
    flex: 1,1,auto; 
}
.sec1{
    background-color: #1F2937;
    color: #F9FAF8;
    height:500px;
}
.sec2{
    height: 500px;

}
.sec3{
    background: color #616267;
    height: 500px;

}
.sec4{
    background-color: #1F2937;
    height: 100px;
}
.title_links{
    display: flex;
    flex-direction: row;
    height:250px;
    justify-content: space-between;
}

.heading{
    font-size: 24px;
    font-weight: 1000;
    padding: 20px;
    /* display: flex;
    position: absolute;
    left: 50px; */

}
.links{
    display:flex;
    list-style-type: none;
    position: absolute;
    right: 100px;
    
}

li{
    display: inline-flex;
    margin: 10px;
    
    
}

.hero{
    /* margin-top: 100px; */
    /*display: flex;
    flex-direction: row;
    flex: 1;*/
    height:250px;
    display: flex;
    flex-direction: row;
    flex:1
}
.content{
    height: 150px;
}
.img{
    height: 150px;
    width: 250px;
}


