.landing_page{
    display: flex;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    justify-content: space-around;
}



.sec1{
    background-color: #1F2937;
    flex: 1;
}
.sec2{
    background-color: aliceblue;
    flex: 1;
}
.sec3{
    background-color: grey;
    flex: 1;
}
.sec4{
    background-color: aliceblue;
    flex: 1;
}